.right-arrow{
    content: url('../../images/send.svg');
    width: 30px;
}

.right-arrow-black{
    content: url('../../images/sendblack.svg');
    width: 30px;
}

.pagination-next{
    content: url('../../images/next.svg');
    width: 15px;
    
}