// Colors
$clr1: #353b48;
$clr2: #57606f; 
$clr3: #95adbe;
$clr4: #d9dbdf;
$clr5: #f6f7fb;
$clr6: #fff;


// Breakpoints
$mobile-breakpoint: 460px;
$w-mobile-breakpoint: 610px;
$w2-mobile-breakpoint: 750px;
$narrow-breakpoint: 820px;
$normal-breakpoint: 1040px;
$desktop-breakpoint: 1400px;
